<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% block stylesheets %}
        <link href="{{ asset('bootstrap/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('bootstrap/css/shop-homepage.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>

<!-- Navigation -->
{% block nav %}
    {% include "default/nav.html.twig" %}
{% endblock nav %}

<!-- Page Content -->
<div style="height: 100vh">
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</div>
<!-- /.container -->

<!-- Footer -->
{% block footer %}
    {% include "default/footer.html.twig" %}
{% endblock %}

<!-- Bootstrap core JavaScript -->
{% block javascripts %}
    <script src="{{ asset('bootstrap/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}

</body>

</html>
