{% extends 'base.html.twig' %}

{% block body %}
        <div class = "h-100">
            <div class="col-lg-12 text-center">

                <h1 class="my-4">SUW</h1>
                <div class="list-group">
                    <a href="/login" class="list-group-item">Logowanie</a>
                    <a href="/register" class="list-group-item">Rejestracja</a>
                </div>

            </div>
        </div>
{% endblock %}
