{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <th scope="col">{{ students }}</th>
        <th scope="col">{{ downloads }}</th>
        <th scope="col">{{ files }}</th>
    </table>
{% endblock %}